<footer>
    <div class="footer-section">
        <img src="/assets/13-cropped.svg" alt="Keystone logo">
        <div class="footer-nav">
            <h3>Navigation</h3>
            <a href="/index/">Home</a>
            <a href="/index/#intro-nav">About</a>
            <a href="/index/#services-nav">Services</a>
            <a href="/index/#contact-nav">Contact</a>
        </div>
        <div class="pdf-links">
            <h3>PDF Links</h3>
            <a href="/pdf-pages/cool-roofs/">Cool Roofs</a>
            <a href="/pdf-pages/metal-roofs/">Metal Roof Restorartion</a>
            <a href="/pdf-pages/membrane-roofs/">Membrane Roof Restoration</a>
            <a href="/pdf-pages/fabric-reinforced/">Fabric Reinforced System</a>
            <a href="/pdf-pages/single-ply/" >Single-Ply Membrane System</a>
            <a href="/pdf-pages/spray-foam/" >Spray Foam System</a>
        </div>
    </div>    
    <p> Copyright &copy;
        <script>document.write(new Date().getFullYear())</script> Keystone Roofing
    </p>
</footer>