---
title: Conklin Cool Roof Coatings
layout: 'base.njk'
---

<div class="cool-roofs">
    <div class="cool-roofs-header">
        <h1>Cool Roofs</h1>
        <p>Discover the benefits of Conklin's cool roofing systems, designed to reduce energy costs, extend roof life,
            and improve building comfort. These highly reflective coatings can lower roof temperatures by up to 40%,
            helping to minimize heat transfer and reduce cooling expenses. View the PDF below to learn more about how
            Conklin's ENERGY STAR-rated cool roofs can benefit your building.</p>
    </div>
    <div class="pdf">
        <iframe title="Conklin Cool Roofs pdf" src="/pdf-files/Conklin-Cool-Roof.pdf#toolbar=0&view=FitH"></iframe>
        <p>Having trouble viewing the PDF?<br>View it here: <a
                href="/pdf-files/Conklin-Cool-Roof.pdf" target="_blank">Conklin-Cool-Roof.pdf</a></p>

    </div>
</div>