---
title: Conklin's Membrane Roof Restoration System
layout: 'base.njk'
---

<div class="cool-roofs-header">
    <h1>Membrane Coating System</h1>
    <p>Learn how Conklin's Membrane Coating System can restore and extend the life of your aging membrane roof. This
        complete waterproofing system offers superior leak protection, improved energy efficiency, and a cost-effective
        alternative to roof replacement. With Conklin's high-quality, reflective coatings, you can enjoy long-lasting
        performance and significant energy savings. View the PDF below to find out more about the benefits of the Membrane
        Coating System.</p>
</div>
<div class="pdf-wide">
    <iframe title="Conklin Membrane Coating System pdf"
        src="/pdf-files/Conklin-Membrane-Coating-System.pdf#toolbar=0&view=FitH"></iframe>
    <p>Having trouble viewing the PDF?<br>View it here: <a
            href="/pdf-files/Conklin-Membrane-Coating-System.pdf" target="_blank">Conklin-Membrane-Coating-System.pd</a></p>
</div>