---
title: Conklin's Fabric Reinforced System
layout: 'base.njk'
---

<div class="cool-roofs-header">
    <h1>Fabric Reinforced System</h1>
    <p>Discover the durability and energy-saving benefits of Conklin's Fabric-Reinforced Roofing System. This rugged,
        yet lightweight system combines a tough, flexible fabric with a seamless acrylic coating to create a
        leak-resistant membrane that can withstand splitting and rupturing. By reflecting 85% of the sun's heat, this
        cool, white roofing system can reduce your cooling costs by up to 30%. View the PDF below to learn more about how
        the Fabric-Reinforced Roofing System can extend the life of your roof and improve your building's energy
        efficiency.</p>
</div>
<div class="pdf-wide">
    <iframe title="Conklin Fabric Reinforced System pdf"
        src="/pdf-files/Conklin-Fabric-Reinforced-System.pdf#toolbar=0&view=FitH"></iframe>
    <p>Having trouble viewing the PDF?<br>View it here: <a
            href="/pdf-files/Conklin-Fabric-Reinforced-System.pdf" target="_blank">Conklin-Fabric-Reinforced-System.pdf</a></p>
</div>