---
title: Conklin's Metal Roof Restoration System
layout: 'base.njk'
---

<div class="cool-roofs-header">
    <h1>Metal Roof Restoration</h1>
    <p>Explore the advantages of Conklin's MR System® for metal roof restoration. This complete waterproofing system
        stops leaks, inhibits rust, and provides an energy-efficient, long-lasting solution for extending the life of
        your metal roof. By restoring your roof with Conklin's high-quality coatings, you can avoid costly replacements
        and enjoy superior protection. View the PDF below to discover how the MR System can benefit your metal roof.</p>
</div>
<div class="pdf-wide">
    <iframe title="Conklin Metal Roof pdf" src="/pdf-files/Conklin-Metal-Roof.pdf#toolbar=0&view=FitH"></iframe>
    <p>Having trouble viewing the PDF?<br>View it here: <a
            href="/pdf-files/Conklin-Metal-Roof.pdf" target="_blank">Conklin-Metal-Roof.pdf</a></p>
</div>