---
title: Conklin's Single-Ply System
layout: 'base.njk'
---

<div class="cool-roofs-header">
    <h1>Single-Ply Membrane</h1>
    <p>Protect your building with Conklin's premium Single-Ply Membrane Systems, featuring Flexion® XL PVC and OUTPOST®
        TPO membranes. These high-performance roofing solutions offer superior waterproofing, fire and chemical
        resistance, and energy efficiency. With the ability to reflect up to 89% of the sun's heat, Conklin's white
        single-ply membranes can significantly reduce your cooling costs. Backed by 20-year and 25-year warranties,
        these systems provide long-lasting protection for your commercial roof. View the PDF below to discover the
        advantages of Conklin's Single-Ply Membrane Systems.</p>
</div>
<div class="pdf-wide">
    <iframe title="Conklin Single Ply Membrane pdf" src="/pdf-files/Conklin-Single-Ply-Membrane.pdf#toolbar=0&view=FitH">
    </iframe>
    <p>Having trouble viewing the PDF?<br>View it here: <a
            href="/pdf-files/Conklin-Single-Ply-Membrane.pdf" target="_blank">Conklin-Single-Ply-Membrane.pdf</a></p>
</div>