---
layout: 'base-index.njk'
title: 'Keystone Roofing NC - New Roof at a fraction of the cost'
---

<Section class="hero">
    <div class="hero-text">
        <h1>Don't <span id="replace">Replace,</span> <span id="restore">Restore</span></h1>
        <p>Extend the life of your roof with our high-quality roof restoration solutions. Save money and
            avoid the hassle of a complete roof tear-off and replacement. We are here to help you protect
            your investment and keep your business running smoothly</p>
    </div>
    <a href="#intro-nav" title="scroll down" class="hero-arrow">
        <svg class="h-full w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 32 448 448">
            <rect paint-order="stroke" stroke-opacity="100%" stroke-width="0" stroke="transparent" fill="transparent"
                rx="35" y="0" x="0" height="512" width="512" />
            <path
                d="M48 32C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H48zm176 64c13.02 9.05 130.934 120.222 137.143 131.145v60.183c-8.605.21-122.971-119.626-137.143-125.318c-14.172 5.692-128.538 125.529-137.143 125.318v-60.183C93.066 216.222 210.98 105.049 224 96zm0 128.672c13.02 9.05 130.934 120.222 137.143 131.144V416c-8.605.21-122.971-119.627-137.143-125.32C209.828 296.373 95.462 416.21 86.857 416v-60.184C93.066 344.894 210.98 233.721 224 224.672z"
                fill="currentColor" />
        </svg>
    </a>
</Section>
<div id="intro-nav"></div>
<section class="intro-cards">
    <div class=" cards">
        <div class="card-1">
            <div class="card-1-flex">
                <h1>Who We Are</h1>
                <p>Keystone Roofing is a commercial roof coating company dedicated to providing long-lasting, cost-effective solutions
                for businesses throughout North Carolina. We guarantee a commitment to quality, helping
                our clients protect their investments and avoid costly roof replacements.</p>
                <button type="button" class="card-1-btn" onclick="location.href='#contact-nav'">Contact Us</button>

            </div>
        </div>
        <div class="card-2">
            <div class="card-1-flex">

            <h1>What We Do</h1>
            <p>Using top-of-the-line Conklin products, we apply high-performance roof coatings that extend the life of
                your existing roof by 10-20+ years. We ensure a seamless application, providing
                superior protection against the elements and improving your building's energy efficiency.</p>
            <button type="button" class="card-1-btn" onclick="location.href='/about-more/'">Learn More</button>
            </div>
        </div>
    </div>
</section>
<section class="services" id="services-nav">
    <h1>Is Roof restoration right for you?</h1>
    <div class="explain">
        <div class="explain-1" id="explain-card">
            <div class="explain-2-h2" onclick="toggleContent(this)">
                <h2>What is Roof Restoration?</h2>
                <div class ="plus-sign-img">
                <svg class="plus-sign" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2V22M2 12H22" stroke="#00a2ff" stroke-width="2" stroke-linecap="round"/>
                  </svg>
                  </div>
            </div>
                <div class="explain-2-p">
                <p>Roof restoration involves applying a durable, protective coating to your existing roof, sealing cracks,
                and reinforcing vulnerable areas. This process extends your roof's life, improves its appearance, and
                enhances its overall performance.</p>
            </div>
        </div>
        <div class="v-line"></div>
        <div class="explain-2">
            <div class="explain-2-h2" onclick="toggleContent(this)">
                <h2>Why consider Roof Restoration?</h2>
                <div class ="plus-sign-img">
                    <svg class="plus-sign" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M2 12H22" stroke="#00a2ff" stroke-width="2" stroke-linecap="round"/>
                      </svg>
                      </div>
            </div>
                <div class="explain-2-p">
                <p>Roof restoration is a cost-effective alternative to a complete roof replacement. At only a fraction of
                the cost of a full roof replacement, roof restoration provides long-lasting protection and improved
                energy efficiency.</p>
            </div>
        </div>
        <div class="v-line"></div>

        <div class="explain-3">
            <div class="explain-2-h2" onclick="toggleContent(this)">
                <h2>Restore or Replace</h2>
                <div class ="plus-sign-img">
                    <svg class="plus-sign" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2V22M2 12H22" stroke="#00a2ff" stroke-width="2" stroke-linecap="round"/>
                      </svg>
                      </div>
            </div>
                <div class="explain-2-p"> 
                <p>In many cases, roof restoration is a viable option that can extend the life of your existing roof by
                10-20 years. However, if your roof is severely damaged or beyond repair, a full replacement may be
                necessary. We are here to help you determine the best solution for your specific needs.</p>
                </div>
            </div>
        </h2>
    </div>
    <h1 id="services-index">Our Services</h1>
    <div class="services-cards">
        <div class="card-cr">
            <h2>Cool Roofs</h2>
            <div class="card-cr-bck">
                <div class="card-cr-text">
                    <p>Reduce energy costs and improve comfort with our cool roof coatings. These reflective coatings
                        minimize heat absorption, keeping your building cooler</p>
                </div>
            </div>
            <button type="button" class="card-btn" onclick="location.href='./pdf-pages/cool-roofs/'">Read More</button>
        </div>
        <div class="card-cr">
            <h2>Metal Roofs</h2>
            <div class="card-mr-bck">
                <div class="card-cr-text">
                    <p>Protect and extend the life of your metal roof with our durable coatings. Our products are
                        specially formulated to adhere to metal surfaces, providing a seamless, waterproof barrier that
                        resists rust and corrosion.</p>
                </div>
            </div>
            <button type="button" class="card-btn" onclick="location.href='./pdf-pages/metal-roofs/'">Read More</button>
        </div>
        <div class="card-cr">
            <h2>Membrane Roofs</h2>
            <div class="card-mem-bck">
                <div class="card-cr-text">
                    <p>Our roof coatings are compatible with a variety of membrane roof systems, including TPO, EPDM,
                        and PVC. We'll help you choose the right product to extend the life of your membrane roof and
                        prevent leaks.</p>
                </div>
            </div>
            <button type="button" class="card-btn" onclick="location.href='./pdf-pages/membrane-roofs/'">Read
                More</button>
        </div>
        <div class="card-cr">
            <h2>Fabric-Reinforced</h2>
            <div class="card-fr-bck">
                <div class="card-cr-text">
                    <p>For added strength and durability, we offer fabric-reinforced roof coatings. This innovative
                        technology incorporates a tough, flexible fabric layer that enhances the coating's resistance to
                        punctures, tears, and extreme weather conditions.</p>
                </div>
            </div>
            <button type="button" class="card-btn" onclick="location.href='./pdf-pages/fabric-reinforced/'">Read
                More</button>
        </div>
        <div class="card-cr">
            <h2>Single Ply Membrane</h2>
            <div class="card-sp-bck">
                <div class="card-cr-text">
                    <p>Restore and protect your single-ply membrane roof with our advanced coating systems. Our products
                        are designed to adhere securely to your existing roof, providing a durable, waterproof barrier
                        that extends its life and performance.</p>
                    </div>
                </div>
                <button type="button" class="card-btn" onclick="location.href='./pdf-pages/single-ply/'">Read More</button>
            </div>
        <div class="card-cr">
            <h2>Spray Foam</h2>
            <div class="card-sf-bck">
                <div class="card-cr-text">
                    <p>Improve your building's insulation and energy efficiency with our spray foam roof coatings. This
                        innovative solution provides a seamless, airtight barrier that minimizes heat transfer and
                        reduces your energy costs.</p>
                </div>
            </div>
            <button type="button" class="card-btn" onclick="location.href='./pdf-pages/spray-foam/'">Read More</button>
        </div>
    </div>
</section>
<section class="contact" id="contact-nav">
    <div class="contact-header">
        <div class="contact-text">
            <h1>Contact Us</h1>
            <p>Get in touch to find the solution that works for you.<br>Schedule a free roof inspection and discover how
                Conklin roof coatings can save you money and extend the life of your buildings roof.</p>
            <p> Send us a Message or Email us at:<br> <a href="mailto:2w9pS@example.com">2w9pS@example.com</a><br></p>
        </div>
        <div class="service-area">
            <h1>Areas we service:</h1>
            <p>Based out of Charlote, NC we are proud to work throughout the entire state of North Carolina</p>
        </div>
    </div>
    <div class="contact-form">
        <form action="https://formsubmit.co/contact@keystoneroofingnc.com" method="POST">
            <h2>Get in Touch</h2>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" placeholder="Phone">
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Message"></textarea>
            <label for="service-type">Service Type(optional)</label>
            <select id="service-type" name="service-type">
                <option value="repair">N/A</option>
                <option value="repair">Metal Roof</option>
                <option value="replace">Membrane Roof</option>
                <option value="repair">Roof Repair</option>
                <option value="replace">Roof Replacement</option>
            </select>
            <input type="submit" value="Send" class="submit-btn">
        </form>
    </div>
</section>

<script>
    function toggleContent(headerDiv) {
    const container = headerDiv.parentNode;
    container.classList.toggle('show-content');
}
</script>